.game-container {
  display: flex;
  flex-direction: column;
  color: var(--main-text-color);
}
.game-container p {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 25px;
}
.game-infos {
  display: flex;
  width: 100%;
}
.game-infos p {
  padding: 0.2rem 0;
  flex: 1;
}
.game-infos svg {
  margin: 0 0.5rem;
}
.game {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.game:hover{
	opacity: 95%;
}
.game-info {
  text-transform: uppercase;
}
.left-infos,
.center-infos,
.right-infos {
  flex: 1;
  background-color: var(--card-color);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem 0;
}
.left-infos{
  border-radius: 10px 0 0 10px;
}
.center-infos {
  padding-bottom: 1.5rem;
}
.right-infos{
  border-radius: 0 10px 10px 0;
}
.center-infos span {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0 0.3rem;
}
.center-infos .penalty-goals {
  font-size: 1.1rem;
  font-weight: normal;
}
.team img {
  max-width: 45px;
  margin-top: 2px;
  padding: .2rem;
}
#matchStatus {
  text-transform: uppercase;
}