.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar nav {
  display: flex;
  text-align: center;
  justify-content: space-between;
  width: 100%;
  gap: .5rem;
}
.navbar nav a {
  width: inherit;
  padding: 0.5rem 0;
  text-decoration: none;
  text-transform: uppercase;
  background-color: var(--main-color);
  color: var(--main-text-color);
  border-radius: 10px;
}
.navbar nav a:hover {
  opacity: 80%;
}
.active {
  border-bottom: 2px solid var(--main-text-color);
  opacity: 80%;
}
