.sidebar{
    background-color: rgba(0, 128, 0, 0.329);
    padding: 0 1rem;
    margin-right: 1.5rem;
    min-width: 250px;
    /* display: none; */
}
.sidebar ul{
    list-style: none;
    height: 63vh;
    overflow: auto;
}
.sidebar ul li{
    padding: .4rem 0;
}
.selected {
    border: 1px solid var(--dark-green);
    border-radius: 10px;
    background-color: #00533e17;
}