.sidebar{
    background-color: var(--main-color);
    padding: 0 1rem;
    margin-right: 1.5rem;
    min-width: 280px;
    height: 72vh;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    /* display: none; */
}
.sidebar h2{
    padding: 1rem 0;
    text-align: center;
    text-transform: uppercase;
}
.sidebar ul{
    list-style: none;
    height: 60vh;
    overflow: auto;
}
.sidebar ul li{
    padding: .6rem 0 .6rem .3rem;
    margin-right: .5rem;
    cursor: pointer;
}
.sidebar ul li:hover{
    background-color: rgba(255, 255, 255, 0.05);
}
.selected {
    border-right: 2px solid var(--main-text-color);
    background-color: hsla(0, 0%, 100%, 0.05);
}