:root {
  --main-color: #1d4b40;
  --main-text-color: #F2F6F4;
  --main-bg-color: #171717;
  --card-color: #202124;
  --container-bg-color: #303134;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--main-text-color);
  font-family: Montserrat;
}
body {
  background-color: var(--main-bg-color);
}

section h1 {
  font-size: 2rem;
  text-align: center;
  margin: 1.5rem 0 2rem 0;
}

.information{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}


/* Works on Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: var(--main-color) var(--main-text-color);
 }
 
 /* Works on Chrome, Edge, and Safari */
 *::-webkit-scrollbar {
	width: 10px;
 }
 
 *::-webkit-scrollbar-track {
	background: var(--main-text-color);
 }
 
 *::-webkit-scrollbar-thumb {
	background-color: var(--main-color);
	border-radius: 20px;
	border: 2px solid var(--main-text-color);
 }